<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- ==================代理方式================= 由mapper标签开始，由/mapper结束，可以把它想成一个空间，是映 
	射文件 属性namespace：空间名，主要在代理中使用，namespace是唯一的， 是该xml对应的接口全名 这里把mapper标签和接口联系在一起 
	Mapper目的：为dao接口方法提供sql语句配置 -->
<mapper namespace="cn.lk.newsssm.dao.UserDao">

	<insert id="add" parameterType="User">
		insert into user (uid,xm,pwd,bj,role ) values
		(#{uid},#{xm},#{pwd},#{bj},#{role})
	</insert>

	<select id="get" resultType="User">
		select * from user where uid=#{uid} and pwd=#{pwd}
	</select>

	<select id="countofUser" resultType="Long">
		select count(*) from user
	</select>


</mapper>